<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

<H1>My Jupyter Notebook on IBM Watson Studio<H1>

<b>VIKAS VERMA
</b><br> Student

<i> I am interested in data science because data i want to become a datascietist under the industry of Real Estate ,I want to be able help clients to make make best real Estate investments
, having huge command of Data science it will personally help me to make good business decisions. <i>

<h3> addition of two numbers <h3/>

In [3]:
print(2+3)

5

<html>
<header>
</header>

<body>
    <section>
        <h1> My favourite Fruits</h1>
        <ol>
            <li>Apple</li>
            <li>Banana</li>
            <li>Orange</li>
            <li>Mango</li>
            <li>Grapes</li>
        </ol>
        <hr>
        <table border="1px">
            <tr>
                <td><b>Needs</b></td>
                <td><b>Wants</b></td>
            </tr>
            <tr>
                <td>Water</td>
                <td>Car</td>
            </tr>
            <tr>
                <td>Food</td>
                <td>Phone</td>
            </tr>
            <tr>
                <td>Education</td>
                <td>Computer</td>
            </tr>
            <tr>
                <td>Medicine</td>
                <td>Television</td>
            </tr>
        </table>
        <br>
        <hr>
    </section>
    <footer>
    </footer>
</body>
</html>